@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-josefin-sans), sans-serif; /* Add a fallback sans-serif */
}

/* ================== MAX-WIDTH ==================== */
.navbar-wrapper,
.hero-section,
.collection-section,
.artist-section,
.artlibrary-section,
.questions-section {
  width: 100%;
  padding: 2rem;
}


.navbar-wrapper .navbar-content,
.hero-section .hero-content,
.collection-section
.collection-content,
.artist-section .artist-content,
.artlibrary-section .artlibrary-content,
.questions-section .questions-content {
  max-width: 1350px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* ============================ SCROLL TO TOP BTN STYLES ============================= */
.scroll-btn {
  cursor: pointer;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.scroll-btn.visible {
  opacity: 1;
}

/* ============================ NAVBAR GLOBAL STYLES ============================= */
.navbar-wrapper .navbar-content {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/* ============================ HERO GLOBAL STYLES ============================= */
/* ============================ COLLECTION GLOBAL STYLES ============================= */
/* ============================ ARTIST STYLES ============================= */
/* ============================ LIBRARY STYLES ============================= */
/* ============================ QUESTIONS STYLES ============================= */
